
.user-sing {
  position: relative;
  width: 50%;
  height: 90vh!important;
  margin: auto;
  background-color:white !important;
}
.signup-form{
  position: absolute;
  top:110px;
}
h2 {
  text-align: center;
  color: #007bff;
}
label, input {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.company-logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

@media screen and (max-width:600px){
  :root{
    font-size: 12px;
  }
  .user-sing{
    width: 70%;
    height: 75vh !important;

  }
}